
  body {
    display: grid-template-columns;
    background-position: center;
    background-size: cover;
    color: black;
    font-family: helvetica;
    text-align: center;
}
.container {
  display: grid-template-columns;
  background-position: center;
  height: 150px;
  text-align: center;
  width: 150px;


}